<div class="row">
  <div class="col-sm-12">
    <h3 class="yellow">Students at GBECC</h3>
    <h4>Total students: 261</h4>
    <h4>Percentage of total D187 enrollment: 7%</h4>
  </div>
</div>
<div class="row" style="margin-top:20px;">
  <div class="col-sm-5">
    <input type="radio" class='radio-select' name="option" value="0" checked="checked" /><label>Compared to last year</label>
  </div>
  <div class="col-sm-5">
    <input type="radio" class='radio-select' name="option" value="1"/><label>Compared to SY18 goal</label>
  </div>
</div>
<div class="row" style="margin-top:20px;">
  <div class="col-sm-10">
    <div id="container0" class="graph"></div>
    <div id="container1" class="graph" style="display:none;"></div>
  </div>
</div>
<script>
    $('.radio-select').on('click', function() {
        container = $('input[name=option]:checked').val();
        $(".graph").hide();
        $('#container' + container).show();
    });

</script>
<script>
    Highcharts.chart('container0', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Enrollment SY17 vs. SY18'
        },
        xAxis: {
            categories: [
                'Number of Students'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total Enrollment'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'School Year 2017',
            data: [220]

        }, {
            name: 'School Year 2018',
            data: [261]

        }]
    });

    Highcharts.chart('container1', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Enrollment SY18 vs. SY18 Goal'
        },
        xAxis: {
            categories: [
                'Number of Students'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total Enrollment'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'School Year 2018',
            data: [261]

        }, {
            name: 'School Year 2018 Goal',
            data: [400]
        }]
    });

</script>