<div class="row tile-row">
  <div class="col-sm-4">
    <div class="tile">
      <h4>Students</h4>
      <span class="tile-label">Total Students</span>
      <span class="tile-number"><%= @total_students %></span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tile">
      <h4>Employees</h4>
      <span class="tile-label">Total Employees</span>
      <span class="tile-number">251</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tile">
      <h4>Finances</h4>
      <span class="tile-label">Budget SY18</span>
      <span class="tile-number">$58M</span>
    </div>
  </div>
</div>
<div class="row tile-row">
  <div class="col-sm-4">
    <div class="tile">
      <h4>Reading</h4>
      <span class="tile-label-small">Students Reading At Grade Level</span>
      <span class="tile-number">20%</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tile">
      <h4>Math</h4>
      <span class="tile-label-small">Students Doing Math At Grade Level</span>
      <span class="tile-number">17%</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tile">
      <h4>Attendance</h4>
      <span class="tile-label">Avg. Attendance</span>
      <span class="tile-number">87%</span>
    </div>
  </div>
</div>
<div class="row tile-row">
  <div class="col-sm-4">
    <div class="tile">
      <h4>Etc</h4>
      <span class="tile-label">Etc</span>
      <span class="tile-number">Etc</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tile">
      <h4>Etc</h4>
      <span class="tile-label">Etc</span>
      <span class="tile-number">Etc</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tile">
      <h4>Etc</h4>
      <span class="tile-label">Etc</span>
      <span class="tile-number">Etc</span>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
    initCSSMenu();
});
</script>