  <% @schools.each_with_index do |school, index| %>
      <% if index % 3 == 0 %>
          <% if index > 0 %>
              </div>
          <% end %>
          <div class="row tile-row">
      <% end %>
      <div class="col-sm-4">
        <div class="tile">
          <h4><%= school %></h4>
          <span class="tile-label">Total Students</span>
          <span class="tile-number"><%= @schools_attendance[index] %></span>
        </div>
      </div>
  <% end %>