<style>
  .tile-row {
      margin-top: 20px;
  }
  .tile {
      border: 2px solid blue;
      border-radius: 25px;
      height: 250px;
      color: #ffbb44;
  }
  .tile h4 {
      text-align: center;
      font-size:22px;
      margin:20px 0;
  }
  .tile .tile-label {
      font-size:26px;
      text-align: center;
      float:left;
      width:100%;
  }
  .tile .tile-number {
      font-size:46px;
      text-align: center;
      float:left;
      width:100%;
  }

</style>


<div class="row tile-row">
  <div class="col-sm-4">
    <div class="tile">
      <h4>Bleep</h4>
      <span class="tile-label">Total Students</span>
      <span class="tile-number">3,623</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tile">
      <h4>Bleep</h4>
      <span class="tile-label">Total Students</span>
      <span class="tile-number">3,623</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tile">
      <h4>Bleep</h4>
      <span class="tile-label">Total Students</span>
      <span class="tile-number">3,623</span>
    </div>
  </div>
</div>
<div class="row tile-row">
  <div class="col-sm-4">
    <div class="tile">
      <h4>Bleep</h4>
      <span class="tile-label">Total Students</span>
      <span class="tile-number">3,623</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tile">
      <h4>Bleep</h4>
      <span class="tile-label">Total Students</span>
      <span class="tile-number">3,623</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tile">
      <h4>Bleep</h4>
      <span class="tile-label">Total Students</span>
      <span class="tile-number">3,623</span>
    </div>
  </div>
</div>
