<div id="content-area">



</div>
<script>
    $(function() {
        $.get( "/main").done(
                function( data ) {
                    $('#content-area').html(data);
                }
        );

    });
</script>