<div id="accordion" class="nav">
  <h3>Students</h3>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
  <h3>Employees</h3>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
  <h3>Finances</h3>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
  <h3>Reading Proficiency</h3>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>

</div>
<script>
    $( function() {
        $( "#accordion" ).accordion({
            active: false,
            collapsible: true,
            heightStyle: "content"
        });
    } );
</script>
