<ul class="nav flex-column">
  <li class="nav-item nav-header">
    <a class="nav-link nav-header">Key Performance Indicators:</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/dashboard/home">RBL Scholars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/dashboard/degree-track">Degree Earned or On-Track</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-disabled">Prospective RBL Scholars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-disabled">Partner Colleges</a>
  </li>
</ul>