<div id='cssmenu' style="margin-top:20px;">
  <ul>
    <li><a href='/' class=""><span>Home</span></a></li>
    <li class='active has-sub'><a href='#' class="clickable" data-action="students"><span>Students</span></a>
      <ul>
        <li class='has-sub'><a href='#' class="clickable" data-action="schools"><span>By School</span></a>
          <ul>
            <% DummyData.order(:school).distinct.pluck(:school).each do |school| %>
            <li><a href='#' data-action="school/<%= school %>" class="clickable"><span><%= school %></span></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href='#' data-action="template/Employees" class="clickable"><span>Employees</span></a></li>
    <li><a href='#' data-action="template/Finance" class="clickable"><span>Finance</span></a></li>
    <li><a href='#' data-action="template/Reading%20Proficiency" class="clickable"><span>Reading Proficiency</span></a></li>
    <li><a href='#' data-action="template/Math%20Proficiency" class="clickable"><span>Math Proficiency</span></a></li>
    <li><a href='#' data-action="template/Attendance" class="clickable"><span>Attendance</span></a></li>
    <li><a href='#' data-action="template/Discipline" class="clickable"><span>Discipline</span></a></li>
    <li><a href='#' data-action="template/On%20Track" class="last clickable"><span>On-Track</span></a></li>
  </ul>
</div>
<script>
    $('a.clickable').on("click", function(e) {
        e.preventDefault();
        action = $(this).data("action");
        $.get( "/" + action ).done(
                function( data ) {
                    $('#content-area').html(data);
                }
        );
    });
</script>



