<style>
    #global-nav {font-size: 17px; }
    #global-nav ul li{padding: 2px 10px 2px 10px;}
    #global-nav ul ul { display: none;}
</style>
<div id="accordion" class="nav">
  <h3 class="clickable" data-action="students">Students</h3>
  <ul >
    <li class="clickable" data-action="students-school">One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
  <h3>Employees</h3>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
  <h3>Finances</h3>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
  <h3>Reading Proficiency</h3>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>

</div>
<script>
    $( function() {
        $( "#accordion" ).accordion({
            active: false,
            collapsible: true,
            heightStyle: "content"
        });
    } );
</script>
<script>
    $('.clickable').on("click", function() {
        action = $(this).data("action");
        $.get( "/" + action ).done(
                function( data ) {
                    $('#content-area').html(data);
                }
        );
    });
</script>

<div class="sidebar-nav">
  <p class="sidenav-header">Units and Lessons:</p>
  <ul class="nav nav-list accordion" id="sidenav-accordian">
    <li>
      <div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas"> <span class="nav-header-primary">
                Content Areas
            </span></a>

      </div>
      <ul class="nav nav-list collapse" id="content-areas">
        <li><a href="#" title="Title">All</a>
        </li>
        <li><a href="#" title="Title">Urban Planning</a>
        </li>
        <li><a href="#" title="Title">Sustainability</a>
        </li>
        <li><a href="#" title="Title">Public Administration</a>
        </li>
        <li>
          <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#content-areas" href="#nav-health">
            Health</a>

          </div>
          <ul class="nav-secondary nav-list collapse" id="nav-health">
            <li><a href="#" title="Title">Introduction</a>
            </li>
            <li><a href="#" title="Title">Lesson: What is Epilepsy?</a>
            </li>
            <li><a href="#" title="Title">Lesson: Pathology</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav-header" data-toggle="collapse" data-target="#languages"> <span class="nav-header-primary">
                Languages
        </span>

      <ul class="nav nav-list collapse" id="languages">
        <li><a href="#" title="Title">All</a>
        </li>
        <li><a href="#" title="Title">Arabic</a>
        </li>
        <li><a href="#" title="Title">Turkish</a>
        </li>
        <li><a href="#" title="Title">Hebrew</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

